@use "../../styles/variables.scss" as vars;

.container {
  display: grid;
  height: 100vh;
  place-items: center;
}

.main {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: vars.$breakpoint-mobile) {
  .main {
    height: 90vh;
    width: vars.$breakpoint-mobile;
  }
}
