@use "../styles/variables.scss" as theme;

.tittle {
  font-size: 58px;
}

.h1 {
  color: theme.$primary-color;
}

.container-component {
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;

  & img {
    width: 120px;
  }

  & h1 {
    color: theme.$secondary-color;
    font-weight: 800;
    margin: 16px;
  }

  & h2 {
    color: theme.$primary-color;
    font-size: 16px;
    margin: 0;
  }

  & div {
    margin-top: 16px;
  }
}
