/*FUNCTIONS*/

/*BREAKPOINTS MEDIA QUERIES*/
$breakpoint-mobile: 520px;

/*COLORS*/
$primary-color: #0049ff;
$secondary-color: #0099ff;
$black: #000000;
$white: #ffffff;

/*FONTS*/
$fonts-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
